@mixin font($fs:14, $fw:400, $ls:0.03em, $lh:1.14) {
    font-size: $fs + px;
    font-weight: $fw;
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin retina {
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @content
}
}
