.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-title);
    height: 603px;
     @media screen and (min-width: 768px) {
        height: 463px;
     }
    @media screen and (min-width: 1200px) {
        height: 252px;
    }
}
.footer .conteiner {
    display: flex;
justify-content: center;
align-items: center;
@media screen and (max-width: 767px) {
   flex-direction: column; 
}
  @media screen and (min-width: 768px) {
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: baseline;
   row-gap: 60px;
}
@media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}
}

.adress-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
      @media screen and (min-width: 768px) {
   width: 232px;
}
@media screen and (min-width: 1200px) {
   width: 100%;
   align-items: flex-start;
}
}

.adress {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-style: normal;
 text-align: center;

    @media screen and (min-width: 768px) {
      
    }
   @media screen and (min-width: 1200px) {
    justify-content: center;
    text-align: left;
   }
}


.footer .logo-right {
    color: var(--primaty-white-color);
}

.adress__text {
   
line-height: 1.71;
color: var(--primaty-white-color);
@media screen and (min-width: 768px) {
  
   }
}

.adress__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.adress__item:not(:last-child) {
   
    @media screen and (min-width: 768px) {
  
   }
}

.adress__link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
&:focus {
    color: var(--accent-color);
}
}


.join {
    width: 206px;
    height: 80px;
    color: var(--accent-color-button);
   margin-top: 60px;
   margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0px;
   }
      @media screen and (min-width: 1200px) {
    justify-content: center;
    text-align: left;
    margin-right: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
   }
}
.join__text,
.subscribe__text {
    margin-bottom: 20px;
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primaty-white-color);
}

.join__list {
    display: flex;
    justify-content: center;
    
}
.join__list>li:not(:last-child) {
   margin-right: 10px;
}
.join__link:not(:last-child) {
margin-right: 10px;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primaty-white-color);
    fill: var(--primaty-white-color);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
&:focus {
    background-color: var(--accent-color);
    fill: var(--primaty-white-color);
}
} 


.subscribe {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
     @media screen and (min-width: 1200px) {
     width: 570px;
    justify-content: center;
    align-items: baseline;
   }
}



.subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
     @media screen and (min-width: 1200px) {
    justify-content: center;
    text-align: left;
    flex-direction: row;
    gap: 12px;
   }
}

.subscribe__input {
  width: 100%;
  height: 100%;
  
  color: white;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 15px 16px;  
outline: none;
@media screen and (min-width: 768px) {
    width: 450px;
   }
   @media screen and (min-width: 1200px) {
    width: 358px;
    height: 100%;
    margin-bottom: 0px;
   }
}

.subscribe__button {
    width: 200px;
height: 50px;
padding: 10px 28px;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--primaty-white-color);
background-color: var(--accent-color);
border-color: transparent;
border-radius: 4px;
}

.subscribe__icon {
    fill: currentColor;
    margin-left: 10px;
}