.header {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
       
    }
}

.portfolio-header {
        border-bottom: 1px solid var(--header-border-color);
}

.header .conteiner {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      padding-top: 16px;
    padding-bottom: 16px;   
    }
}

.header-logo {
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
         margin-right: 93px;
    }
}

.nav__list,
.connection__list,
.nav {
    display: flex;
    align-items: center;
}

.nav__list,
.connection__list {
     @media screen and (max-width: 768px) {
    display: none;}
}

.nav__item:not(:last-child)
 {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    @include font(null, 500, 0.02em, 1.14);
// font-weight: 500;
// line-height: 1.14;
// letter-spacing: 0.02em;

transition: color var(--transition-duration) var(--transition-timing-function);
&:hover,
&:focus {
    color: var(--accent-color);
}
}

.current {
    color: var(--accent-color);
    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
}


.connection__icon {
    margin-right: 10px;
   fill: currentColor;
   @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
   }
}
.con-icon-smart {
    @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
   }
}

.connection__link {
     display: flex;
    align-items: center;
    @include font (12, 500, 0.02em, 1.14);
    color: var(--secondary-text-color);
    color: var(--secondary-text-color);

    transition: color var(--transition-duration) var(--transition-timing-function) ;
&:hover,
&:focus {
    color: var(--accent-color);
}
 @media screen and (min-width: 1200px) {
 padding-top: 32px;
    padding-bottom: 32px;
 }
}




.connection__list {
    gap: 40px;
    margin-left: auto;
    @media screen and (max-width: 1200px) {
flex-direction: column;
align-items: baseline;
gap: 10px;
    }
}

.menu-open {
     display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-timing-function) ;
    &:hover {
        color: var(--accent-color);
    }
     @media screen and (min-width: 768px) {
        display: none;
     }
}


.menu-close {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-timing-function) ;
    &:hover {
        color: var(--accent-color);
    }
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
background-color: white;
display: none;
& .conteiner {
    display: block;
    align-items: center;
}
 @media screen and (min-width: 768px) {
    display: none;
 }
}

.mobile-menu.is-open {
    display: block;
}

.mob-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 15px 48px 40px;
}

.mob-menu-nav-link {
    font-weight: 500;
font-size: 40px;
line-height: calc ( 47 / 40 );
letter-spacing: 0.02em;
color: #212121;
&:focus,
&:hover {
    color: var(--accent-color);
}
}

.current-menu {
    color: var(--accent-color);
}

.mob-menu-nav-item:not(:last-child) {
margin-bottom: 32px;
}

.mob-menu-connection-item:not(:last-child) {
  margin-bottom: 32px;  
}

.mob-menu-connection-link {
    color: var(--accent-color);
    @include font(28, 500, 0.02em, 1.18);
@media screen and (min-width: 400px) {
font-size: 34px;
}
  
}

.mob-menu-tel {
    @include font(24, 500, 0.02em, 1.16);
color: #757575;
}

.mob-menu-soc-link-list {
    display: flex;
    margin-top: 64px;
    @media screen and (max-width: 458px) {
      flex-wrap: wrap;
      gap: 15px;  
    }
}

.mob-menu-soc-link {
    @include font(18, 500, 1.2, 0.02em);
    color: var(--accent-color);
}
.mob-menu-soc-link-item:not(:last-child) {
margin-right: 20px;
position: relative;
&::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    right: -10px;
    bottom: -3px;
}
}